.wrapper{
    background-image: url('../../images/bgcup.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    width: 100%;
    color: #eeeeee;
    text-align: left;
    
    /* overflow-y: hidden; */
  }
  .bkcover{
    background-color: rgba(13, 13, 14, 0.384);
  }
  .accounts{
    width: 100%;
    min-height: 85vh;
    height: 100%;
    padding-top: 3rem;
    padding-right: 50px;
    color: #fff;
  }
  
  .herocontainer{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    max-width: 80%;
    margin: auto;
    text-align: center;
  }
  .accheading{
    text-align: center;
        font-size: 20px;
        width: 100%;
        margin-bottom: 20px;
        text-shadow: 2px 2px 2px #000000;
     
  }
  .aline{
    width: 50% !important;
    border: 1px solid rgb(0, 204, 255) !important;
    opacity: 1 !important;
    border-radius: 5px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .accountbox{
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
   display: flex;
  }
  .cardblack{
    border-radius: 10px;
    max-width: 250px;
    width: 250px;
    padding-bottom: 40px;
    max-height: 400px;
    background-color: black;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin-right: -50px;

    -moz-transform: rotate(-18deg) skew(3deg, 9deg);
-webkit-transform: rotate(-18deg) skew(3deg, 9deg);
-o-transform: rotate(-18deg) skew(3deg, 9deg);
-ms-transform: rotate(-18deg) skew(3deg, 9deg);
transform: rotate(-18deg) skew(3deg, 9deg);

  }
  .cardblack p{
    color: white;
    font-size: 20px;
    margin-top: 20px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px #f10000;
  }
  .cardwhite{
    border-radius: 10px;
    max-width: 250px;
    width: 250px;
    max-height: 400px;
    padding-bottom: 80px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
   -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   margin-left: -50px;
   z-index: 10;
   -moz-transform: rotate(18deg) skew(-3deg, -9deg);
-webkit-transform: rotate(18deg) skew(-3deg, -9deg);
-o-transform: rotate(18deg) skew(-3deg, -9deg);
-ms-transform: rotate(18deg) skew(-3deg, -9deg);
transform: rotate(18deg) skew(-3deg, -9deg);
  }

.accinfo{
display: flex;
width: 100%;
text-align: left;
padding: 10px;
color: black;
font-size:14px ;
}
.acclogo{
  max-width: 20%;
  margin-right: 5px;
 
}
.acclogo img{
  width: 100%;
  border-radius: 50%;
  border: 1px solid gray;
  padding: 4px;
}
.acctype{
  font-weight: bolder;
  
}
.accname{
  font-weight: bold;
}
.acctype span{
  color: rgb(146, 146, 146);
  
}
.accname span{
  color: rgb(165, 55, 51);
}



  @media screen and (max-width: 768px) {
   
    .accounts {
      
      padding: 48px 0px 0px 0px;
    }
    .wrapper{
      background-position: right;
    }

    .herocontainer{
      max-width: 100%;
      padding: 10px;
      min-height: 100%;
      overflow-y: hidden;
    }
    .cardblack p{
      font-size: 14px;
    }
    .cardblack p{
      font-size: 11px;
    }
    .accinfo{
font-size:9px ;
}
  }
  